h1 {
    text-align: center;
}

ul#controls {
  list-style-type: none;
  padding-left: 10px;
}

#play-area {
  position: relative;
  min-height: 400px;
}

#game-area {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}